#block-container>* {
    width: 100vw;
    height: 100vh;
    backface-visibility: hidden;
    color: white;
    font-size: 150px;
    text-align: center;
    line-height: 100vh;
    position: fixed;
    user-select: none;
}


/* #block-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
} */